.body {
	position: relative;
	left: -150px;
}
.input {
	border: 1px solid rgba(0, 0, 0, 0.195);
	padding: 10px 30px;
	border-radius: 5px;
	width: 300px;
	transition: all 0.5s ease;
	// &:focus{
	// 	width: 300px;
	// }
}
.searchIcon {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 5px;
	opacity: 0.3;

}
.closeIcon {
	width: 22px;
	height: 22px;
	position: absolute;
	top: 10px;
	right:  5px;
	opacity: 0.3;
	&:active{
		opacity: 1;
	}
}

